@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #001d3d;
  --test: #65a0e3;
  --secondary: #F4A261;
  --secondary-hovered: #E76F51;
  --primary-hovered: #103965;
  --error: red;
  --background: #fff;
  --light-gray: hsl(229, 24%, 87%);
  --very-light-blue: hsl(217, 100%, 97%);
  --bright-blue: hsl(243, 100%, 62%);
  --grayish-blue: hsl(231, 11%, 63%);
}

body {
  color: var(--primary);
  background-color: #ffe8d6;
  background-image: url(images/tileable-wood-colored.png);
  margin: 0;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 2rem;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

h1, h2 {
  text-align: center;
}

p {
  font-weight: 400;
  color: var(--neutral-400);
  line-height: 1.5em;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.order-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
  background-color: var(--background);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.order-item button {
  margin: 0 auto;
  margin-top: 0.5rem;
  background-color: var(--primary);
}

.order-item button:hover {
  background-color: var(--primary-hovered);
}

button {
  width: 8rem;
  font: inherit;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.5rem;
}

button:hover {
  background-color: var(--primary-hovered);
}

input.error, select.error, textarea.error {
  outline: .5px solid var(--error);
}

.error-message {
  font-size: 0.9rem;
  color: var(--error);
  display: block;
  margin-top: 2px;
}


input[type="checkbox"] {
  accent-color: var(--primary);
  width: 1.2rem;
  aspect-ratio: 1;
  cursor: pointer;
  pointer-events: none;
  flex-shrink: 0;
}

input[type=checkbox]:hover{
  background-color: var(--secondary-hovered);
}

select, label, input[type="text"] {
  display: block;
}

select, input[type="text"] {
  border: 1px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  background-color: var(--background);
  font-size: 18px;
}

select {
  padding: 0.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: var(--background);
  gap: 4rem;
}

.overlay {
  position: fixed;
  background: url(images/pancake-bg.webp) center center/cover no-repeat;
  filter: brightness(0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav .button-link {
  margin: 0;
  margin-bottom: 1rem;
}

.orders-toolbar {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.orders-toolbar input {
  width: auto;
  flex: 1;
} 

.form-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid var(--very-light-blue);
  border-radius: .5rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.input-wrapper p {
  margin-left: auto;
}

.input-wrapper:hover {
  border-color: var(--primary);
}

.input-wrapper.active {
  background-color: var(--very-light-blue);
  border-color: var(--bright-blue);
}

.radio-items .radio-item label:hover,.radio-items .radio-item label:focus {
  border-color: var(--primary);
  outline: none
}

.navigation {
  display: flex;
  margin: 1rem 0;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.status-dropdown-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  color: var(--primary);
}

#pancakeForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 2rem;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--primary);
  width: 70%;
}

#totalPriceDisplay {
  color: var(--primary);
}

#orderList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}



/* MAIN PAGE */

.main-title {
  background: #820263;
  background: linear-gradient(to right, #820263 0%, #D90368 50%, #E84324 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-bottom: 0.5rem;
 }

.pancakes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  gap: 1.5rem;
}

.pancakes img {
  cursor: pointer;
  width: 90%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(0.9);
  justify-self: center;
}

.pancakes img:nth-child(1) {
  transform: rotate(3deg);
}

.pancakes img:nth-child(2) {
  transform: rotate(-2deg);
}

.pancakes img:nth-child(3) {
  transform: rotate(2deg);
}

.pancakes img:nth-child(4) {
  transform: rotate(-2deg);
}
.pancakes img:nth-child(5) {
  transform: rotate(2deg);
}

.pancakes img:nth-child(6) {
  transform: rotate(-2deg);
}

.pancakes img:hover {
  transform: translateY(-5px);
  filter: brightness(1);
}

.button-link {
  background-color: var(--secondary);
  padding: 0 1rem;
  min-width: 10rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  margin: 1.5rem auto;
  transition: transform 0.3s ease, background-color 0.3s;
  cursor: pointer;
  color: var(--primary);
}

.button-link:hover {
  transform: scale(1.1);
  background-color: var(--secondary-hovered);
}

/* MULTISTEP FORM */

.group-two, .group-three, .group-four, .group-five {
  display: none;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navLeft, #navRight {
  width: fit-content;
}

#navLeft {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: 500;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  color: var(--grayish-blue);
  transition: filter .2s ease-in-out;
}

#navLeft:hover {
  color: var(--primary);
}

.radio-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.radio-items .radio-item input[type=radio]:checked~label {
  background-color: var(--very-light-blue);
  border-color: var(--bright-blue);
}

.radio-items .radio-item input[type=radio] {
  display: none;
}

label {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.radio-items .radio-item label {
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-gray);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.radio-items .radio-item label img {
  margin-bottom: 3rem;
}

.radio-items .radio-item label p {
  color: var(--grayish-blue);
  font-size: 0.9rem;
}

.radio-item img {
  width: 2rem;
  height: 2rem;
}

.steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.step  {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
}

.step .index:hover {
  transform: scale(1.2);
}
.index {
  background-color: var(--background);
  color: var(--secondary);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.index.active {
  background-color: var(--secondary);
  color: var(--background);
}


.order-summary-content {
  background-color: var(--very-light-blue);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary);
  padding: 1rem 0;
  font-size: 1.1rem;
  color: var(--primary);
}

.summary-item:last-child {
  border-bottom: none;
}


.summary-item h4 {
  font-weight: 600;
  margin: 0;
}

#orderSummary h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#reorderBtn{
  margin: 0 auto;
}

#formWrapper {
  padding: 5rem;
  align-items: center;
}

@media (max-width: 1024px) {
  .pancakes {
    grid-template-columns: 1fr 1fr;
  }

  .flex-container {
    max-width: 900px;
  }

  #formWrapper {
    flex-direction: row;
    padding: 5rem 0;
  }

  .steps {
    flex-direction: column;
    width: auto;
    gap: 1rem;
  }

  #orderList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .pancakes {
    grid-template-columns: 1fr;
  }

  #formWrapper {
    padding: 2rem 0;
  }

  #pancakeForm {
    padding: 1.5rem;
  }

  .navigation {
    justify-content: center;
  }

  .steps {
    flex-direction: row;
  }
  
  #formWrapper {
    flex-direction: column;
  }

  .steps .step div p,
  .steps .step div h3 {
    display: none;
  }

  #pancakeForm {
    width: 80%;
  }

  #formWrapper {
    gap: 2rem;
  }

  .radio-items {
    grid-template-columns: 1fr;
  }

  .radio-items .radio-item label {
    flex-direction: row;
  }

  .radio-items .radio-item label img {
    margin: 0;
  }

  #orderList {
    grid-template-columns: 1fr;
  }

  .summary-item {
    display: block;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  #pancakeForm {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .overlay{
    background: url(images/pancake-bg-400w.webp) center/cover no-repeat
  }
}


@media (max-width: 600px) {
  .overlay{
    background: url(images/pancake-bg-600w.webp) center/cover no-repeat
  }
}

@media (max-width: 800px) {
  .overlay{
    background: url(images/pancake-bg-800w.webp) center/cover no-repeat
  }
}

@media (max-width: 1000px) {
  .overlay{
    background: url(images/pancake-bg-1000w.webp) center/cover no-repeat
  }
}

@media (max-width: 1200px) {
  .overlay{
    background: url(images/pancakes6-1200w.webp) center/cover no-repeat
  }
}


@media (max-width: 1600px) {
  .overlay{
    background: url(images/pancake-bg-1600w.webp) center/cover no-repeat
  }
}

@media (max-width: 2000px) {
  .overlay{
    background: url(images/pancake-bg-2000w.webp) center/cover no-repeat
  }
}