/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pinkish: #FFF0F3;
  --soft-pink: #FFCCD5;
  --bright-pink: #C9184A;
  --deep-red: #590D22;
}

body {
  background-color: var(--soft-pink);
  color: var(--deep-red);
  margin: 0;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--deep-red);
  font-size: 1.2rem;
}

a:hover {
  color: var(--bright-pink);
}


ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
  background-color: var(--pinkish);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
  width: 8rem;
  font: inherit;
  background-color: var(--deep-red);
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.5rem;
}

button:hover {
  background-color: var(--bright-pink);
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid currentColor;
  border-radius: 0.15rem;
  accent-color: var(--deep-red);
}

input[type=checkbox]:hover{
  background-color: var(--deep-red);
}

input[type="checkbox"]:checked {
  background-color: var(--bright-pink);
}

input[type="checkbox"]:checked::before {
  content: '';
  position: absolute;
  right: 4px;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  height: 0.6rem;
  width: 0.3rem;
}

select, label, input[type="text"] {
  display: block;
}

input[type="radio"] {
  appearance: none;
  width: 1.15rem;
  height: 1.15rem;
  border: 2px solid var(--deep-red);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:hover {
  background-color: var(--deep-red);
}

input[type="radio"]:checked {
  background-color: var(--bright-pink);
  border-color: var(--bright-pink);
}

input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5em;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
}

select, input[type="text"] {
  border: 1px solid var(--deep-red);
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  background-color: #fff;
  font-size: 18px;
}

select {
  padding: 0.2rem;
}

select:focus {
  outline:0 !important;
  border-color: var(--bright-pink);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;

}

.image-container {
  position: relative;
  max-width: 45%;
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

nav .container {
  justify-content: flex-end;
}

.price-banner {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--bright-pink);
  color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.orderContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown {
  display: 'flex';
  align-items: center;
}

.decoratedParagraph {
  border-bottom: 1px solid var(--deep-red);
  padding: 0.5rem;
  text-align: center;
  overflow-wrap: break-word;
}

.ordersToolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  align-items: center;
} 

.ordersToolbar input {
  width: 85%;
} 

.formItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal {
  width: 50%;
  min-height: 50%;
  color: black;
  border-radius: 5px;
  position: relative;
  padding: 2rem;
  transform: translateY(-20px);
  transition: transform 0.3s ease-in-out;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navigation {
  display: flex;
  margin: 1rem 0;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.statusDropdownWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.overlay.active .modal {
  transform: translateY(0);
}

#user-message {
  text-align: center;
}

#pancakeForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--pinkish);
  padding: 2rem;
  width: 50%;
  border-radius: 10px;
}

#totalPriceDisplay {
  color: var(--bright-pink);
}

#orderList li {
  width: 30%;
}

#orderSummary {
  width: 100%;
}

#orderSummaryContent {
  position: relative;
  background-color: var(--pinkish);
  margin: 15% auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  width: 30%;
  max-width: 30%;
}

#orderSummaryContent button {
  margin-top: 1rem;
}

#userMessage {
  text-align: center;
  margin-top: 0.5rem;
}

#closeModal {
  width: 1rem;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

#closeModal:hover {
  width: 1.2rem
}

#errorText {
  color: red;
  font-size: 1.2rem;
}

#orderList {
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .image-container {
    max-width: 80%;
  }

  .statusDropdownWrapper {
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
  }

  .ordersToolbar input {
    width: 80%;
  }

  #orderSummaryContent {
    width: 50%;
  }

  #pancakeForm {
    width: 80%;
  }
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
  }

  h1 {
    text-align: center;
  }

  .ordersToolbar {
    justify-content: center;
  }
  
  .ordersToolbar input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .container {
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .image-container {
    max-width: 100%;
  }

  .price-banner {
    width: 80px;
    height: 80px;
    font-size: 16px;
  }

  #orderList li {
    width: 45%;
    justify-content: space-around;
  }

  #orderSummaryContent {
    width: 80%;
  }

  #pancakeForm {
    width: 100%;
    padding: 1.5rem;
    background-color: none;
  }
}

@media (max-width: 480px) {
  a {
    font-size: 1rem;
  }

  .image-container img {
    border-radius: 5px;
  }


  #orderList li {
    width: 100%;
  }
  
  #pancakeForm {
    padding: 1rem;
  }
}