/* Global styles */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-secondary: #EADEDA;
  --accent: #E36414;
  --text-primary: #0F4C5C;
  
}

body {
  color: var(--text-primary);
  background-color: #ffe8d6;
  background-image: url(images/tileable-wood-colored.png);
  margin: 0;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* font-weight: 300; */
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1.2rem;
}

h1, h2 {
  text-align: center;
}

a:hover {
  color: var(--accent);
}

p {
  font-weight: 400;
  color: var(--neutral-400);
  line-height: 1.5em;
}


ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
  width: 8rem;
  font: inherit;
  background-color: var(--text-primary);
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.5rem;
}

button:hover {
  background-color: var(--accent);
}

input:focus, select:focus, textarea:focus {
  outline: .5px solid var(--primary-color);
}

input.error, select.error, textarea.error {
  outline: .5px solid red;
}

.error-message {
  font-size: 0.9rem;
  color: red;
  display: block;
  margin-top: 2px;
}


input[type="checkbox"] {
  accent-color: var(--text-primary);
  width: 1.2rem;
  aspect-ratio: 1;
  cursor: pointer;
  pointer-events: none;
  flex-shrink: 0;
}

input[type=checkbox]:hover{
  background-color: var(--text-primary);
}

input[type="checkbox"]:checked {
  background-color: var(--accent);
}

select, label, input[type="text"] {
  display: block;
}

input[type="radio"] {
  appearance: none;
  width: 1.15rem;
  height: 1.15rem;
  border: 2px solid var(--text-primary);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]:hover {
  background-color: var(--text-primary);
}

input[type="radio"]:checked {
  background-color: var(--accent);
  border-color: var(--accent);
}

select, input[type="text"] {
  border: 1px solid var(--text-primary);
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  font-family: inherit;
  background-color: #fff;
  font-size: 18px;
}

select {
  padding: 0.2rem;
}

select:focus {
  outline:0 !important;
  border-color: var(--accent);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.overlay {
  position: fixed;
  background: url(images/pancakes.jpg) center center/cover no-repeat;
  filter: brightness(0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.flex-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  gap: 5rem;
}

/* .image-container {
  position: relative;
  max-width: 45%;
  border-radius: 10px;
} */

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

nav .container {
  justify-content: flex-end;
}

.price-banner {
  /* position: absolute;
  top: 20px;
  right: 20px; */
  background-color: var(--accent);
  color: #fff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.orderContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdown {
  display: 'flex';
  align-items: center;
}

.decoratedParagraph {
  border-bottom: 1px solid var(--text-primary);
  padding: 0.5rem;
  text-align: center;
  overflow-wrap: break-word;
}

.ordersToolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  align-items: center;
} 

.ordersToolbar input {
  width: 85%;
} 

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal {
  width: 50%;
  min-height: 50%;
  color: black;
  border-radius: 5px;
  position: relative;
  padding: 2rem;
  transform: translateY(-20px);
  transition: transform 0.3s ease-in-out;
}

.inputWrapper {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: .5rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
  justify-content: space-between;
}



.navigation {
  display: flex;
  margin: 1rem 0;
  justify-content: flex-end;
}

.hidden {
  display: none;
}

.statusDropdownWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

/* .overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
} */

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.overlay.active .modal {
  transform: translateY(0);
}

#user-message {
  text-align: center;
}

#pancakeForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 50%;
  border-radius: 5px;
  /* color: #fff; */
  background-color: #fff;
  color: var(--accent);
}

#totalPriceDisplay {
  color: var(--accent);
}

#orderList li {
  width: 30%;
}

#orderSummary {
  width: 100%;
}

#orderSummaryContent {
  position: relative;
  background-color: white;
  margin: 15% auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem;
  border-radius: 10px;
  max-width: 30%;
}

#orderSummaryContent button {
  margin-top: 1rem;
}

#userMessage {
  text-align: center;
  margin-top: 0.5rem;
}

#closeModal {
  width: 1rem;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

#closeModal:hover {
  width: 1.2rem
}

#errorText {
  font-size: 1.5rem;
}

#orderList {
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .image-container {
    max-width: 80%;
  }

  .statusDropdownWrapper {
    gap: 0.5rem;
    padding: 0.2rem 0.5rem;
  }

  .ordersToolbar input {
    width: 80%;
  }

  #orderSummaryContent {
    width: 50%;
  }

  #pancakeForm {
    width: 80%;
  }
}

@media (max-width: 768px) {
  body {
    padding: 1rem;
  }

  #orderSummaryContent {
    max-width: 100%;
  }

  .ordersToolbar {
    justify-content: center;
  }
  
  .ordersToolbar input {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .container {
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .image-container {
    max-width: 100%;
  }

  .price-banner {
    width: 80px;
    height: 80px;
    font-size: 16px;
  }

  #orderList li {
    width: 45%;
    justify-content: space-around;
  }

  #orderSummaryContent {
    width: 80%;
  }

  #pancakeForm {
    width: 100%;
    padding: 1.5rem;
    background-color: none;
  }
}

@media (max-width: 480px) {
  a {
    font-size: 1rem;
  }

  .image-container img {
    border-radius: 5px;
  }


  #orderList li {
    width: 100%;
  }
  
  #pancakeForm {
    padding: 1rem;
  }
}

/* MAIN PAGE */

.main-title {
  background: #820263;
  background: linear-gradient(to right, #820263 0%, #D90368 50%, #E84324 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-bottom: 0.5rem;
 }

.pancakes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.pancakes img {
  cursor: pointer;
  width: 90%;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(0.9);
}


.pancakes img:nth-child(1) {
  transform: rotate(3deg);
}

.pancakes img:nth-child(2) {
  transform: rotate(-2deg);
}

.pancakes img:nth-child(3) {
  transform: rotate(2deg);
}

.pancakes img:nth-child(4) {
  transform: rotate(-2deg);
}
.pancakes img:nth-child(5) {
  transform: rotate(2deg);
}

.pancakes img:nth-child(6) {
  transform: rotate(-2deg);
}

.pancakes img:hover {
  transform: translateY(-5px);
  filter: brightness(1);
}

.button-link {
  background-color: var(--accent);
  padding: 0 1rem;
  min-width: 10rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  margin: 1.5rem auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.button-link:hover {
  transform: scale(1.2);
}

.button-link a {
  color: var(--text-secondary);
}

/* MULTISTEP FORM */

.group-two, .group-three, .group-four, .group-five {
  display: none;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#navLeft, #navRight {
  width: fit-content;
}

#navLeft {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: 500;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  color: var(--neutral-400);
  transition: filter .2s ease-in-out;
}

.radio-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.radio-items .radio-item input[type=radio] {
  display: none;
}

label {
  display: flex;
  gap: 1rem;
  font-weight: bold;
}

.radio-items .radio-item label {
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(229, 24%, 87%);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.radio-items .radio-item label img {
  margin-bottom: 3rem;
}

.radio-items .radio-item label p {
  color: hsl(231, 11%, 63%);
  font-size: 0.9rem;
}

.radio-item img {
  width: 2rem;
  height: 2rem;
}

.steps {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.step  {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.step .index:hover {
  transform: scale(1.2);
}
.index {
  background-color: #fff;
  color: var(--accent);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

.index.active {
  background-color: var(--accent);
  color: #fff;
}

@media (max-width: 768px) {
  .step p, h3 {
    display: none;
  }
}